<h2>Please enter the information for the product you\'d like to add:</p>

<form action="/confirmation">
  <h2>Enter the new product data below:</h2>

  <p>Title:<br>
  <input type="text" name="title"></p>
  <br>

  <p>Author:<br>
  <input type="text" name="author"></p>
  <br>

  <p>ISBN:<br>
  <input type="text" name="isbn"></p>
  <br>

  <p>Description:<br>
  <input type="text" name="description"></p>
  <br>

  <p>Price:<br>
  <input type="number" step="0.01" name="price"></p>
  <br>

  <p>Cost:<br>
  <input type="number" step="0.01" name="cost"></p>
  <br>

  <p>Location ID:<br>
  <input type="text" name="location_id"></p>
  <br>

  <p>Genre ID:<br>
  <input type="text" name="genre_id"></p>
  <br>

  <p>Quantity:<br>
  <input type="number" name="quantity"></p>
  <br>
  <input type="submit">
</form>

<p><a href="/">Return to the Main Menu</a></p>
