<!DOCTYPE html>

<html>
  <head>
    <title>FB Inventory Management</title>
<link rel="stylesheet" href="/css/style.css" type="text/css" charset="utf-8">

  </head>
    <body>
      <h1>Fantastic Books Inventory Management System</h1>
      <hr>
      <%= yield %>
      
      <hr>
      <footer><a href="/">Return to the Main Menu</a></footer>
    </body>
</html>
  