<h3>Warning: If products are assigned to this location, it cannot be deleted.</h3>

<%= Location.all %>

<form action="/delete_location_confirm">
  <p>Enter the location to be deleted:</p>
  <p>Location ID:<br>
  <input type="text" required name="id"></p> 
  <input type="submit">
</form>