<h2>Warning: If products are assigned to this location, it cannot be deleted.</h2>

<h3>Current Locations:</h3>

  <% @results_as_objects.each do |x| %>
    <h4><%= x.id %>. <%= x.genre %></h4>
  <% end %>
<hr>
<form action="/delete_location_confirm">
  <p>Enter the location to be deleted:</p>
  <p>Location ID:<br>
  <input type="text" required name="id"></p> 
  <input type="submit">
</form>