<form action="/result">
  <h2>Enter the data below:</h2>

  <p>Amount Spent ($):<br>
  <input type="number" step="0.01" name="amount"></p>

  <p>Gallons of Fuel:<br>
  <input type="number" step="0.25" name="gallons"></p>
  <br>
  <input type="submit">
</form>


<p><a href="/">Return to the Main Menu</a></p>
