<h3>Select a link below:</h3>

<h2>Product Management</h2>
  <a href="/add_product">Add New Product</a>
  <br>
  <a href="/edit_product">Edit Product</a>
  <br>
  <a href="/delete_product">Delete Product</a>
  <br>
  <a href="/show_product_confirm">View All Products</a>

<h2>Category (Genre) Management</h2>
  <a href="/add_genre">Add New Genre</a>
  <br>
  <a href="/delete_genre">Delete Genre</a>

<h2>Location Management</h2>
  <a href="/add_location">Add New Location</a>
  <br>
  <a href="/delete_location">Delete Location</a>

