<h2>Current Products:</h2>

  <% @show_all = Product.all %>
  <% @show_all.each do |x| %>
    <h4 class=indent><%= x.id %> - <%= x.title %>  by  <%= x.author %> (Price: $<%= x.price %>)</h4>
  <% end %>